<div class="landing">
  <div class="dark-overlay landing-inner text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="display-3 mb-4">YourRecipe
          </h1>
          <p class="lead">Add your recipes and share with others</p>
          <hr/>
          <a routerLink="/register" class="btn btn-lg btn-info mr-2">Sing up</a>
          <a routerLink="/login" class="btn btn-lg btn-light">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
